<div class="col-xs-3">
    <div class="panel panel-default dashboard">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="">
                    Manage Events
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                <div ng-include="template.dashboard"></div>
            </div>
        </div>
    </div>
    
</div>
   
   <div class="col-xs-9">
   <form action="">
    <div class="orderform featured-event">
        <h2 class="text-center">Order Form</h2>
        <button class="btn btn-large btn-success" type="button">Save Changes</button>


        <div class="rowheading">
            <h3>What type of information do you want to collect ?</h3>
            <div class="row">
                <div class="col-xs-4">
                    <p>You have 3 options:</p>
                </div>

                <div class="col-xs-8">
                    
                    <p>
                        <input type="radio" name="option" id="option1" value="option1">Collect only basic information (email,name)
                    
                    <br>
                    
                   
                        <input type="radio" name="option" id="option2" value="option2">Collect information below for the ticket buyer only
                    <br>
                        <input type="radio" name="option" id="option3" value="option3">Collect information below for each attendee ?
                    </p>
                </div>
            </div>
        </div>


        <div class="rowheading">
            <h3>Group Registration</h3>
            <p>Allow or require attendees to register as a part of group, team, organization, company or association. To activate group registration, you must collect information for each attendee.</p>
            <button class="btn btn-large btn" type="button">Activate group registration</button>

        </div>


        <div class="rowheading">
            <h3>Optional Settings</h3>
            </ul>
            <span class="lines">Registration Options</span>

            <div class="row">
                <div class="col-xs-4">
                    <span class="optsetting pull-right">Title for you attendee info page:</span>
                </div>
                <div class="col-xs-4">
                            <input type="text" id="attendeeinfo" />
                </div>
            </div>
<br>
            <div class="row">
                <div class="col-xs-4">
                    <span class="optsetting pull-right">Instruction for your attendee:</span>
                </div>
                <div class="col-xs-6">
                            <textarea cols="40" rows="6" id="instruction"></textarea>?
                       
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <span class="optsetting pull-right">Registration time limit:</span>
                </div>
                <div class="col-xs-6">
                            <input type="text" id="timelimit" />mins ?
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4">
                    <span class="optsetting pull-right">Ticket Delievery option:</span>
                </div>
                <div class="col-xs-6">

                    <p>
                        <input type="checkbox" id="checkbox">eTickets ?
                    <br>
                        <input type="checkbox" id="checkbox">Will call pickup
                    </p>

                </div>
            </div>

            <div class="row">
                <div class="col-xs-4">
                    <span class="optsetting pull-right">Message to display after ticket sales have ended:</span>
                </div>
                <div class="col-xs-6">
                    
                            <textarea cols="40" rows="6" id="instruction"></textarea>?
                       
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4">
                    <span class="optsetting pull-right">Attendee Management:</span>
                </div>
                <div class="col-xs-6">


                    <p>
                        <input type="checkbox" id="checkbox">Allow attendee to update information after registration
                    </p>

                </div>
            </div>

            <div class="row">
                <div class="col-xs-4">
                    <span class="optsetting pull-right">Refund Policy:</span>
                </div>
                <div class="col-xs-6">


                    <p>
                        <input type="checkbox" id="checkbox">Allow attendee to request refunds for purchased tickets
                    </p>

                </div>
            </div>

        </div>


        <div class="savechanges">
            <button class="btn btn-large btn-success" type="button">Save Changes</button>
        </div>
    </div>
</form>
</div>
<div class="clearfix"></div>