<div class="featured-event">
    <h3>Discover Events</h3>
    <div class="row">
        <div class="col-xs-3">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="">
                            Category
                        </a>
                    </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <ul>
                                <li>Business</li>
                                <li>Charity</li>
                                <li>Film</li>
                                <li>Others</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="">
                            Event Type
                        </a>
                    </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <ul>
                                <li>Class</li>
                                <li>Conference</li>
                                <li>Seminar</li>
                                <li>Expo</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="">
                            Date
                        </a>
                    </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <ul>
                                <li>Today</li>
                                <li>Tomorrow</li>
                                <li>This Week</li>
                                <li>Next Week</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="">
                                Price
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <ul>
                                <li>Free</li>
                                <li>Paid</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-9">

            <h3>Events</h3>
            <div class="btn-group btn-discover pull-right">
                <button type="button" class="btn btn-info">Relevance</button>
                <button type="button" class="btn btn-info">Date</button>
            </div>
            <div class="clearfix"></div>
            <div class="listings">

                <div class="row row-list">
                    <div class="col-xs-3">
                        <img src="http://ebmedia.eventbrite.com/s3-build/perm_001/4a042d/django/images/pages/search/default_logos/champagne2x.jpg" class="img-responsive">
                    </div>
                    <div class="col-xs-9">
                        <h4>Event Name</h4>
                        <h6>by Organiser Name</h6>
                        <p><span class="fa fa-calendar"></span> July 21,2014 at 8PM</p>
                        <p><span class="fa fa-map-marker"></span> Worli,Mumbai MH</p>
                    </div>
                </div>

                <div class="row row-list">
                    <div class="col-xs-3">
                        <img src="http://ebmedia.eventbrite.com/s3-build/perm_001/4a042d/django/images/pages/search/default_logos/champagne2x.jpg" class="img-responsive">
                    </div>
                    <div class="col-xs-9">
                        <h4>Event Name</h4>
                        <h6>by Organiser Name</h6>
                        <p><span class="fa fa-calendar"></span> July 21,2014 at 8PM</p>
                        <p><span class="fa fa-map-marker"></span> Worli,Mumbai MH</p>
                    </div>
                </div>

                <div class="row row-list">
                    <div class="col-xs-3">
                        <img src="http://ebmedia.eventbrite.com/s3-build/perm_001/4a042d/django/images/pages/search/default_logos/champagne2x.jpg" class="img-responsive">
                    </div>
                    <div class="col-xs-9">
                        <h4>Event Name</h4>
                        <h6>by Organiser Name</h6>
                        <p><span class="fa fa-calendar"></span> July 21,2014 at 8PM</p>
                        <p><span class="fa fa-map-marker"></span> Worli,Mumbai MH</p>
                    </div>
                </div>

                <div class="row row-list">
                    <div class="col-xs-3">
                        <img src="http://ebmedia.eventbrite.com/s3-build/perm_001/4a042d/django/images/pages/search/default_logos/champagne2x.jpg" class="img-responsive">
                    </div>
                    <div class="col-xs-9">
                        <h4>Event Name</h4>
                        <h6>by Organiser Name</h6>
                        <p><span class="fa fa-calendar"></span> July 21,2014 at 8PM</p>
                        <p><span class="fa fa-map-marker"></span> Worli,Mumbai MH</p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>