<div class="col-xs-3">
    <div class="panel panel-default dashboard">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="">
                    Manage Events
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                <div ng-include="template.dashboard"></div>
            </div>
        </div>
    </div>

</div>

<div class="col-xs-9">
    <form action="">
        <div class="orderform featured-event">
            <h2 class="text-center">Event Type</h2>
            <label>Select the event Type</label>
            <p>
               <input type="radio" name="1" value=""> Ticketed Event (Examples: Buy Tickets, Ticket Information, Ticket Type)<br>
                <input type="radio" name="1" value="">Registration Event (Examples: Register, Registration Information, Registration Type)
            </p>






            <div class="savechanges">
                <button class="btn btn-large btn-success" type="button">Save Changes</button>
            </div>
        </div>
    </form>
</div>
<div class="clearfix"></div>