<div class="orderform featured-event orderconfirm">
    <h2>My Account</h2>
    <h3>Account email address</h3>
    <input type="email" value="demo@wohlig.com">
    <button class="btn btn-large btn-success" type="button">Save Changes</button>
    
    <h3>Password</h3>
    <input type="password" placeholder="Old Password"><br>
    <input type="password" placeholder="New Password">
    <input type="password" placeholder="Re-enter New Password">
    <button class="btn btn-large btn-success" type="button">Save Changes</button>
    
    <h3>Contact Information</h3>
    <input type="text" placeholder="Name">
    <input type="text" placeholder="Last Name">
    <br>
    <input type="tel" placeholder="Telephone">
    <input type="tel" placeholder="Mobile">

    <h3>Home Address</h3>
    <textarea placeholder="Address" class="textspace"></textarea>
    <br>
    <input type="text" placeholder="City">
    <input type="text" placeholder="Zip/Postal Code">
    <br>
    <Select class="selecter">
        <option value="">Select State</option>
    </Select>
    <Select class="selecter">
        <option value="">Select Country</option>
    </Select>


    <h3>Billing Address</h3>
    <textarea placeholder="Address" class="textspace"></textarea>
    <br>
    <input type="text" placeholder="City">
    <input type="text" placeholder="Zip/Postal Code">
    <br>
    <Select class="selecter">
        <option value="">Select State</option>
    </Select>
    <Select class="selecter">
        <option value="">Select Country</option>
    </Select>

    <h3>Shipping Address</h3>
    <textarea placeholder="Address" class="textspace"></textarea>
    <br>
    <input type="text" placeholder="City">
    <input type="text" placeholder="Zip/Postal Code">
    <br>
    <Select class="selecter">
        <option value="">Select State</option>
    </Select>
    <Select class="selecter">
        <option value="">Select Country</option>
    </Select>

    <h3>Work Address</h3>
    <input type="text" placeholder="Job Title">
    <input type="text" placeholder="Company">
    <br>
    <br>
    <textarea placeholder="Address" class="textspace"></textarea>
    <br>
    <input type="text" placeholder="City">
    <input type="text" placeholder="Zip/Postal Code">
    <br>
    <Select class="selecter">
        <option value="">Select State</option>
    </Select>
    <Select class="selecter">
        <option value="">Select Country</option>
    </Select>
    <br>
    <input type="tel" placeholder="Phone">
    <input type="text" placeholder="Blog">
    <br>
    <input type="text" placeholder="Website" style="width:513px;">

    <h3>Other Information</h3>
    <p>Gender:<br>
    <select name="" id="" class="selecter">
        <option value="">---</option>
        <option value="">Male</option>
        <option value="">Female</option>
        </select></p>
        
    <p>Birthday:<br>
        <input type="date" name="bday">    
    </p>    
    
    <div class="savechanges">
        <button class="btn btn-large btn-success" type="button">Save Changes</button>
    </div>
</div>



<div class="clearfix"></div>