<div class="featured-event">
    <h3>My Tickets</h3>

    <div class="row pad">
        <div class="col-xs-3 text-center">
            <div class="evnt">
                <img src="img/keynotes.jpg" class="img-responsive">
                <h4>Annual KM Conference - 2014 :: Mumbai KM Community</h4>
                <p>View Order</p>
            </div>
        </div>

        <div class="col-xs-3 text-center">
            <div class="evnt">
                <img src="img/keynotes.jpg" class="img-responsive">
                <h4>Dance India Dance Solo Performance</h4>
                <p>View Order</p>
            </div>
        </div>

       
        </div>
    </div>