<div class="featured-event">
    <div class="row">
        <div class="col-xs-8 eventhead">
            <h2>{{alldata.title}}</h2>
            <p>{{alldata.organizername}}</p>
            <p>From : {{alldata.startdate}} AT : {{alldata.starttime}}</p>
            <p>To : {{alldata.enddate}} AT : {{alldata.endtime}}</p>
            <p>Location : {{alldata.location}}</p>
        </div>
        <div class="col-xs-4 eventlogo">
            <img src="img/logo.png" class="img-responsive">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <div class="eventdetails">
                <h3>Ticket information</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Type</th>
                            <th>Remaing</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Free</td>
                            <td>Early Bird</td>
                            <td>20 Tickets</td>
                            <td>
                                <select>
                                    <option value="1">1&nbsp;</option>
                                    <option value="2">2&nbsp;</option>
                                    <option value="3">3&nbsp;</option>
                                    <option value="4">4&nbsp;</option>
                                    <option value="5">5&nbsp;</option>
                                    <option value="6">6&nbsp;</option>
                                    <option value="7">7&nbsp;</option>
                                    <option value="8">8&nbsp;</option>
                                    <option value="9">9&nbsp;</option>
                                    <option value="10">10&nbsp;</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Paid</td>
                            <td>Early Bird</td>
                            <td>20 Tickets</td>
                            <td>
                                <select>
                                    <option value="1">1&nbsp;</option>
                                    <option value="2">2&nbsp;</option>
                                    <option value="3">3&nbsp;</option>
                                    <option value="4">4&nbsp;</option>
                                    <option value="5">5&nbsp;</option>
                                    <option value="6">6&nbsp;</option>
                                    <option value="7">7&nbsp;</option>
                                    <option value="8">8&nbsp;</option>
                                    <option value="9">9&nbsp;</option>
                                    <option value="10">10&nbsp;</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Donation</td>
                            <td>Early Bird</td>
                            <td>20 Tickets</td>
                            <td>
                                <select>
                                    <option value="1">1&nbsp;</option>
                                    <option value="2">2&nbsp;</option>
                                    <option value="3">3&nbsp;</option>
                                    <option value="4">4&nbsp;</option>
                                    <option value="5">5&nbsp;</option>
                                    <option value="6">6&nbsp;</option>
                                    <option value="7">7&nbsp;</option>
                                    <option value="8">8&nbsp;</option>
                                    <option value="9">9&nbsp;</option>
                                    <option value="10">10&nbsp;</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="eventdetails">
                <h3>Event details</h3>
                <p ng-bind-html="alldata.description"></p>
             </div>
        </div>
        <div class="col-xs-4">
            <div class="eventdetails">
                <h3>When</h3>
                <p>From : {{alldata.startdate}} AT : {{alldata.starttime}}</p>
            <p>To : {{alldata.enddate}} AT : {{alldata.endtime}}</p>
            <p>Location : {{alldata.location}}</p>
            </div>

            <div class="eventdetails">
                <h3>Oraganiser</h3>
                <h4>{{alldata.organizername}}</h4>
                <p ng-bind-html="alldata.orgdescription"></p>
            </div>
            <button class="btn btn-success">promotions</button>
            <div class="eventdetails">
                <h3>Banner</h3>
                <img src="img/default_upload_logo.gif">
                <!--input type="file" class="file" ng-model="form.logo"-->
                <input type="text" class="file" ng-model="form.logo">
            </div>
            
        </div>
        
    </div>
    
    <div class="row">
        <div class="col-xs-8 eventhead">
            <h2>sponsor</h2>
            
        </div>
        
    </div>

</div>